<div class="editor-component">
  <div class="auth-banner">
    <div class="loggin-form" *ngIf="!isLoggedIn()">
      <form action="">
        <input type="text" placeholder="Username" [formControl]="username">
        <input type="password" placeholder="Password" [formControl]="password">
        <button class="info" (click)="login()">Log-in</button>
      </form>
    </div>
    <div class="loggin-actions" *ngIf="isLoggedIn()">
      <p>Logged in to Alfresco at<span>{{ alfrescoConfig.hostEcm }}</span></p>
      <button class="error" (click)="logout()">Log-out</button>
    </div>
  </div>
  <div class="editor-container">
    <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code" (init)="editorInit($event)">
    </ngx-monaco-editor>
  </div>
  <div class="actions">
    <button class="warn" (click)="clearConsole()">Clear console</button>
    <button class="success" (click)="run()">Run</button>
  </div>

  <div class="log-container" #logContainer>
    <div *ngFor="let log of logs; let last = last" class="log-{{log.type}}">
      <span class="time disable-select">{{ log.timestamp | date:'HH:mm:ss.SSS' }}</span>&nbsp;
      <pre *ngIf="isObject(log.msg); else basicLog"><code>{{ log.msg | json }}</code></pre>
      <ng-template #basicLog>
        <code>{{ log.msg }}</code>
      </ng-template>
      {{last ? scrollToBottom() : ''}}
    </div>
  </div>
</div>

